<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Services dashboard - Origami</title>
	<meta name="viewport" content="width=1920, initial-scale=1.0" />
	<meta http-equiv="refresh" content="60">

	<link rel="stylesheet" href="https://origami-build.ft.com/v2/bundles/css?modules=o-fonts@^2.0.0" />
	<link rel="stylesheet" href="/static/css/style.css" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" />
</head>
<body class='rows'>
	<div class='stretch servicestable'>
		<div class='snap'>
			<table>
			<tr class='head'>
				<th></th>
				<th><h2>Status</h2></th>
				<th><h2>Resp time</h2></th>
				<th><h2>Downtime</h2></th>
				<th><h2>Health</h2></th>
				<th><h2>Errors</h2></th>
			</tr>
			{{#each services}}
			<tr>
				<td class='servicename'>{{name}}</td>

				{{#if up}}<td><div class='stat stat-good'><i class="fa fa-check"></i></div></td>
				{{else}}<td><div class='stat stat-bad'><i class="fa fa-times"></i></div></td>
				{{/if}}

				{{#ifRange respTime 0 150}}<td><div class='stat stat-good'>{{/ifRange}}
				{{#ifRange respTime 150 300}}<td><div class='stat stat-oooer'>{{/ifRange}}
				{{#ifRange respTime 300 1000}}<td><div class='stat stat-crikey'>{{/ifRange}}
				{{#ifRange respTime 1000 999999}}<td><div class='stat stat-bad'>{{/ifRange}}
				{{respTime}}ms</div></td>

				{{#ifEq totalDowntime 0}}<td><div class='stat stat-good'>None</div></td>{{/ifEq}}
				{{#ifRange totalDowntime 1 300}}<td><div class='stat stat-crikey'>{{totalDowntime}}s</div></td>{{/ifRange}}
				{{#ifRange totalDowntime 300 999999}}<td><div class='stat stat-bad'>{{totalDowntime}}s</div></td>{{/ifRange}}

				{{#ifEq health -1}}<td><div class='stat stat-good'><i class="fa fa-check"></i></div></td>{{/ifEq}}
				{{#ifEq health 3}}<td><div class='stat stat-oooer'><i class="fa fa-exclamation-triangle"></i></div></td>{{/ifEq}}
				{{#ifEq health 2}}<td><div class='stat stat-crikey'><i class="fa fa-exclamation-triangle"></i></div></td>{{/ifEq}}
				{{#ifEq health 1}}<td><div class='stat stat-bad'><i class="fa fa-times"></i></div></td>{{/ifEq}}
				{{#ifEq health "blank"}}<td><div class='stat stat-oooer'><i class="fa fa-exclamation-triangle"></i></div></td>{{/ifEq}}
				{{#ifNot health}}<td><div class='stat stat-unknown'><i class="fa fa-question"></i></div></td>{{/ifNot}}

				{{#ifEq errorCount 0}}<td><div class='stat stat-good'>None</div></td>{{/ifEq}}
				{{#ifRange errorCount 1 5}}<td><div class='stat stat-crikey'>{{errorCount}}</div></td>{{/ifRange}}
				{{#ifRange errorCount 5 999999}}<td><div class='stat stat-bad'>{{errorCount}}</div></td>{{/ifRange}}

			</tr>
			{{/each}}
			</table>
		</div>
	</div>
</body>
</html>
